[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/nord"]
	path = bundle/nord
	url = https://github.com/arcticicestudio/nord-vim
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "bundle/you-complete-me"]
	path = bundle/you-complete-me
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/twig"]
	path = bundle/twig
	url = https://github.com/lunaru/vim-twig
[submodule "bundle/arm-syntax"]
	path = bundle/arm-syntax
	url = https://github.com/ARM9/arm-syntax-vim
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = https://github.com/ap/vim-css-color
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
